<!-- views/footer.ejs -->
<br />
<footer class="print-only">
<p class="text-center text-muted print-only">&copy; Copyright Jos&eacute; Arnaldo de Castro &amp; Andre L. A. Monteiro.</p>
</footer>
<br />
<br />
<nav class="navbar navbar-inverse navbar-fixed-bottom">
<p class="navbar-text"><a target="_blank" href="https://www.facebook.com/osciclosdavida/" class="fa fa-facebook"></a> <a target="_blank" href="https://www.instagram.com/os.ciclos.da.vida/" class="fa fa-instagram"></a> <a target="_blank" href="https://twitter.com/ciclosdavida" class="fa fa-twitter"></a> &copy; Jos&eacute; Arnaldo de Castro &amp; Andre L. A. Monteiro.</p>
</nav>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
