<!-- views/header.ejs -->

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand" href="/"><span class="glyphicon glyphicon-hourglass"></span>Os Ciclos da Vida</a>
	</div>
</nav>

