<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="pt">
<head>
    <% include head.ejs %>
</head>
<body>

    <% include header.ejs %>

	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>
	<div class="jumbotron">
		<div class="container">
			<h1>Seja bem-vindo!</h1>
			<p>Aqui voc&ecirc; pode ter acesso ao seu mapa completo, baseado no livro "Os Ciclos da Vida", de Jos&eacute; Arnaldo de Castro.</p>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Fa&ccedil;a seu cadastro</h2>
				<p>Se esta &eacute; a sua primeira vez aqui, fa&ccedil;a seu cadastro e tenha acesso ao seu mapa dos Ciclos da Vida personalizado.</p>
				<p><a class="btn btn-default" href="/registro" role="button">Cadastre-se j&aacute;!</a></p>
			</div>
			<div class="col-md-6">
				<h2>Acesse seu mapa</h2>
				<p>Se voc&ecirc; j&aacute; completou seu cadastro, acesse seu mapa personalizado informando seus dados abaixo.</p>
				<p><a class="btn btn-default" href="/acessar" role="button">Acesse</a></p>
			</div>
		</div>

	</div>

	<% include footer.ejs %>

</body>
</html>