<!-- views/reset.ejs -->
<!DOCTYPE html>
<html lang="pt">
<head>
	<meta name="description" content="Reinicialize sua senha para acessar o seu mapa pessoal conforme descrito no livro Os Ciclos da Vida - A Cabal&aacute; e a Peregrina&ccedil;&atilde;o da Alma - de Jos&eacute; Arnaldo de Castro.">
	<title>Os Ciclos da Vida | Resetar Sua Senha</title>
    <% include head.ejs %>
</head>
<body>
    <% include header.ejs %>
	<div class="container">
		<div class="col-sm-8 col-sm-offset-2">
			<% if (message.length > 0) { %>
				<div class="alert alert-success alert-dismissible fade-in" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Fechar"><span aria-hidden="true">&times;</span></button><%= message %></div>
			<% } %>
			<% for (var i = 0; i < errors.length; i++) { %>
				<div class="alert alert-danger alert-dismissible fade-in" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Fechar"><span aria-hidden="true">&times;</span></button><%= errors[i].msg %></div>
			<% } %>
			<h1>Redefina a sua senha</h1>
			<p>Informe abaixo a sua nova senha:</p>
			<form action="/redefinir/<%= token %>" method="post">
				<input type="hidden" name="_csrf" value="<%= _csrf %>">
				<div class="form-group">
					<label>Senha</label>
					<input type="password" class="form-control" name="password" placeholder="Informe uma senha">
				</div>
				<div class="form-group">
					<label>Confirme a senha</label>
					<input type="password" class="form-control" name="cfm_pwd" placeholder="Confirme a senha">
				</div>
				<button type="submit" class="btn btn-warning btn-lg">Redefinir</button>
			</form>
		</div>
	</div>
	<% include footer.ejs %>
</body>
</html>
