<h1>Ol&aacute;, <%= nome %></h1><br>
<p>Voc&ecirc; recebeu este e-mail por ter se cadastrado para ter acesso ao seu <a href='http://ciclosdavida.com.br:3000'>Ciclo da Vida</a><br><br>
Para poder acess&aacute;-lo, por favor, confirme seu registro atrav&eacute;s deste <a href='http://localhost:3000/confirma/<%= resetToken %>'>link</a></p>
