<h1>Ol&aacute;, <%= nome %>!</h1><br>
<p>Voc&ecirc; recebeu este e-mail por ter se cadastrado para ter acesso ao seu <a href='http://ciclos.coldfire.com.br'>Ciclo da Vida</a><br><br>
Para poder acess&aacute;-lo, por favor, confirme seu registro atrav&eacute;s deste <a href='http://ciclos.coldfire.com.br/confirma/<%= resetToken %>'>link</a></p>
<br />
<p>Armazene este e-mail, pois caso voc&ecirc; perca a sua senha, basta responder a esta mensagem solicitando o reset de sua conta.</p><br />
<p><b>ATEN&Ccedil;&Atilde;O:</b> Lembre-se que a utiliza&ccedil;&atilde;o do mapa dos Ciclos da Vida para fins comerciais ou "divinat&oacute;rios" &eacute; uma pr&aacute;tica extremamente desencorajada 
pelo autor. Estudar o seu mapa, aprender a reconhecer o seu estado de alma, e buscar o ponto de equil&iacute;brio com o <b>&uacute;nico prop&oacute;sito</b> de elevar a <b>sua consci&ecirc;ncia</b>. 
Caso tenha d&uacute;vidas, cr&iacute;ticas ou sugest&otilde;es, fique &agrave; vontade para entrar em contato por <a href="mailto:ciclosdavida@coldfire.com.br">e-mail</a>.</p>
<br />
